

p {
    letter-spacing: .01em;
    font-size: 1.5em;
    font-weight: 400;

}

.available-classes ul{
	letter-spacing: .01em;
    font-size: 1.5em;
    font-weight: 400;
}

h2 {
	font-size: 5vh;
	font-weight: 400;
}
.page-header {
	display: flex;
	flex-direction: column;
	font-size: 4vh;
}

.subheader {
	font-size: 4vh;
	color: gray;
}

.text-center {
	text-align: center;
}

.seperator {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.centered-block {
	margin: auto;
}

.fifty-percent {
	width: 50%;
}

.seventyfive-percent {
	width: 75%;
}