.boardz {
	display: flex;
	justify-content: space-between;
	flex: auto;
}

.boardz ul {
	list-style-type: none;
	flex-direction: column;
	justify-content: space-between;
	padding: 4px 0px 4px 0px;
	flex: 1;
}

.boardz ul li {
	margin: 8px 4px 8px 4px;
	padding: 12px;
	flex: auto;
	background-color: #ffffff;
	border: 1px solid #737373;
}

.boardz ul h1 {
	margin: 0 0 10px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid gray;
}

.boardz ul h1,
.boardz ul li {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
    .boardz {
        flex-direction: column;
    }

	.boardz ul li:last-child {
		margin-bottom: 0;
	}

    .boardz ul {
    	margin: 0;
    	padding: 0;
    }
}

.fitted ul {
	display: flex;
}

.fitted ul li {
	margin: 4px 4px 4px 4px !important;
}

.boardz img {
    max-width: 100%;
    height: auto;
}

.center {
	margin: auto;
}

.fifty-percent {
	width: 50%;
}

.seventyfive-percent {
	width: 75%;
}

.hundred-percent {
	width: 100%;
}


.beautiful li{
	border: none !important;
    border-radius: 10px;
    background-color: #f1f1f1 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.beautiful li:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}